.username-password {
    width: 25%;
    margin: 25px auto !important;
}

#login {
    width: 25%;
    margin: 25px auto !important;
}

#register {
    width: 25%;
    margin: 25px auto !important;
}
